@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@font-face {
  font-family: "GeistMonoVF";
  src: url("assets/fonts/GeistMonoVF.woff") format("woff2"),
    url("assets/fonts/GeistMonoVF.woff") format("woff"),
    url("assets/fonts/GeistMonoVF.woff") format("truetype");
}
@font-face {
  font-family: "GeistVF";
  src: url("assets/fonts/GeistVF.woff") format("woff2"),
    url("assets/fonts/GeistVF.woff") format("woff"),
    url("assets/fonts/GeistVF.woff") format("truetype");
}

* {
  font-family: "GeistVF";
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.editor-output {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.ytp-youtube-button {
  display: none;
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

.skeleton-rounded {
  border-radius: 8px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.video-container {
  position: relative;
  width: 100%; /* Full width */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Hover effect with shadow */

.overflow-y-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Webkit-based browsers */
}
.overflow-y-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* heatmap css  */

.react-calendar-heatmap text {
  font-size: 6px;
  fill: #000000;
}

.dark text {
  font-size: 6px;
  fill: white;
}

.react-calendar-heatmap-small-text {
  font-size: 50px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.color-empty {
  fill: #e0f2ff; /* Very light blue for empty days */
}
.color-scale-0 {
  fill: #cacaca; /* Very light blue for empty days */
}

.color-scale-1 {
  fill: #78cef7; /* Medium blue */
}

.color-scale-2 {
  fill: #38b3ec; /* Dark blue */
}

.color-scale-3 {
  fill: #039be5; /* Darkest blue */
}

/* Optional: Custom styles for the calendar squares */
.react-calendar-heatmap .color-scale-0,
.react-calendar-heatmap .color-empty,
.react-calendar-heatmap .color-scale-1,
.react-calendar-heatmap .color-scale-2,
.react-calendar-heatmap .color-scale-3,
.react-calendar-heatmap .color-scale-4,
.react-calendar-heatmap .color-scale-5 {
  rx: 2px; /* Rounded corners */
  ry: 2px;
  width: 9px;
  height: 9px;
  transition: transform 0.2s ease;
}

.react-calendar-heatmap rect:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Tooltip Styling */
[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #333;
  border-radius: 8px;
  font-size: 0.9em;
  top: -30px;
  white-space: nowrap;
}

/* loader */

/* HTML: <div class="loader"></div> */
.loader {
  width: 70px;
  aspect-ratio: 1;
  background: radial-gradient(farthest-side, #ffa516 90%, #0000) center/16px
      16px,
    radial-gradient(farthest-side, green 90%, #0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: l17 1s infinite linear;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  inset: auto 0 16px;
  margin: auto;
  background: #ccc;
  border-radius: 50%;
  transform-origin: 50% calc(100% + 10px);
  animation: inherit;
  animation-duration: 0.5s;
}
@keyframes l17 {
  100% {
    transform: rotate(1turn);
  }
}
